/*---GLOBAL---*/
* {
    box-sizing: border-box;
    color: #1F2D30;
    font-family: 'Roboto', sans-serif;
}

body, html {
    background-color:#FBFBFB;
    margin: 0;
}

.container {
    margin: 0 5%;
}

.pgatual{
    background:#007A8D !important;
    color: white !important;
}
li.pgatual{
    background:#007A8D !important;
}
/*---FIM GLOBAL---*/

/*---HEADER---*/
header{
    background: white;
}

header section#topo {
    display: flex;
}

header section#topo *{
    color: #007A8D;
}

header section#topo > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header section#topo div span{
    font-weight: 700;
    font-size: 14pt;
}

header section#topo > div img{
    width: 35px;
    height: 35px;
    padding: 0;
}

header section#topo > div#info-menu{
    align-items: center;
    justify-content: center;
    padding: 0;
    flex: 0;
}

header section#topo hr{
    margin: auto;
    border: none;
    background: #EDEFEF;
    width: 4px;
    height: 50px;
}

header section#topo div#whats{
    display: none;
}

header section#topo div#logo img {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

header section#topo div#logo h1 {
    display: none;
}

header section#topo > div#login-menu{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    text-align: center;
}

@media(min-width:1050px){
    header section#topo div#whats{
        display: flex;
        flex: 1.2;
        justify-content: center;
    }

    header section#topo > div#whats > div{
        display: block;
    }
    header section#topo div#whats div span{
        display: block;
        margin: 0;
    }

    header section#topo div#whats div span.complemento{
        font-size: 11pt;
        display: block;
        font-weight: normal;
        margin: 0;
    }
    
    header section#topo > div#logo{
        justify-content: left;
    }

}

@media (min-width:800px){

    header section#topo > div{
        justify-content: auto;
        align-items: center;
        flex-direction: row;
    }

    header section#topo div img {
        margin-right: 15px;
    }

    header section#topo > div#info-menu{
        justify-content: left;
        padding: 0;
        flex: 1;
    }

    header section#topo div#logo{
        flex: 1.8;
    }
    
    header section#topo div#logo + hr{
        display: none;
    }
    
    header section#topo > div#login-menu{
        flex-direction: row;
        padding: 0;
        text-align: center;
    }

    header section#topo div#login-menu img{
        margin-left: 15px;
    }
    
    /*--- Alteração de texto --*/
    
    header section#topo .invisivel-desk{
        display: none;
    }
    header section#topo div#info-menu span:after{
        display: block;
        content: "Como funciona";
    }
    header section#topo div#login-menu span:after{
        display: block;
        content: "Nome Sobrenome";
    }

    /*--- Fim da Alteração de texto --*/
    
}/*FIM MEDIA QUERY*/

/*----------------NAVEGAÇÃO-------------------------*/
nav.visivel-desk{
    display: none;
}

nav.invisivel-desk{
    display: flex;
}

header nav {
    background: #18ACC4;
}

header nav ul{
    display: flex;
    padding: 0px;
}

header nav ul li{
    display: flex;
    padding: 12px 15px;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

header nav.invisivel-desk ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header nav ul li:hover {
    background:#007A8D;
}

header nav.invisivel-desk li + li{
    padding: 0;
    justify-content: right;
    background: url("../imgs/seta-pbaixo-branca.png") no-repeat right;
}

header nav.invisivel-desk select{
    -webkit-appearance: none;
    display: block;
    background: transparent;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 0;
    border: 0;
}

header nav.invisivel-desk select option{
    background: #18ACC4;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0;

    height: 100px;
    border: 1px solid #cbcbcb;
    padding-left: 17px;
    padding-top: 12px;
}

@media(min-width:800px){
    
    nav.invisivel-desk{
        display: none;
    }

    nav.visivel-desk{
        display:flex;
    }

    header nav ul li:first-child{
        padding: 12px 30px 12px 0!important;
    }
    
}

/*---FIM HEADER---*/


/*---           MAIN          ----*/


/*caminho do usuario*/
main section#caminho-user {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.1em;
}

main section#caminho-user ul {
    padding: 0;
    margin: 0;
}

main section#caminho-user ul li{
    display: inline;
    list-style: none;
}

main section#caminho-user a span{
    text-decoration: none;
    font-weight: 700;
    color: #007A8D;
}

main section#caminho-user a {
    text-decoration: none;
    font-weight: 700;
    color: #007A8D;
}

main section#caminho-user ul li:last-child a span{
    font-weight: normal;
    color: black;
}

@media(max-width:900px){
    main section#caminho-user ul li:first-of-type a{
        display: flex;
    }
    main section#caminho-user ul li:first-of-type a:before{
        width: 25px;
        content: url("../imgs/flecha-esquerda.png");
    }
    main section#caminho-user ul li:first-of-type a:after{
        content: "Minha conta";
    }
    a span{
        display: none;
    }
    .visivel-mobile{
        display: inline;
    }
}
/*fim do caminho do usuario*/

/*Nome da pg*/
main section#nomedapg h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0;
}
main section#nomedapg p{
    font-size: 1.2em;
    margin-bottom: 40px;
}
/*Fim do nome da pg*/

/*Seleção de semestre*/
    section#selecao-semestre{
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
    section#selecao-semestre div{
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

    section#selecao-semestre button{
        cursor: pointer;
        height: 36px;
        width: 190px;
        border: 2px solid #007A8D;
        font-size: 16px;
        text-decoration: none;
        font-weight: 700;
        color: #007A8D;
        background: white;
        outline: none;
    }

    section#selecao-semestre div button{
        text-decoration: none;
    }

    section#selecao-semestre div button:first-of-type{
        border-radius: 6px 0 0 6px;
    }

    section#selecao-semestre div button:last-of-type{
        border-radius: 0 6px 6px 0;
    }

    section#selecao-semestre button:hover {
        color: white;
        background: #007A8D;
    }
    @media (max-width:650px) {

        section#selecao-semestre button{
            width: 100%;
        }
        section#selecao-semestre button{
            display: block;
            width: 100%;
            height: 65px;
            padding: 20px;
            font-size: 18.5px;
        }
        section#selecao-semestre div button:first-of-type{
            border-radius: 8px 8px 0 0;
        }
        section#selecao-semestre div button:last-of-type{
            border-radius: 0 0 8px 8px
        }
    }/*FIM MEDIA QUERY*/

/*FIM Seleção de semestre*/

/*---FOOTER---*/

/*UNIVERSAIS*/

footer *{
    color: white;
}
footer{
    /* margin-top:225px; */
    margin-top:20%
}
footer section#contatos {
    display: flex;
    background: #007A8D;
}

footer section#contatos ul{
    margin: 0 5%;
    width: 100%;
    display: flex;
    padding: 0;
}

footer section#contatos li{
    flex: 1;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 35px;
    cursor: pointer;
}

footer section#contatos li img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
}

footer section#contatos li div h2 {
    font-style: normal;
    margin: 0;
    font-size: 21px;
    display: inline-block;
}

footer section#contatos p {
    margin:0;
}

@media (max-width:1150px) {
    
    footer section#contatos ul{
        flex-wrap: wrap;
        margin: 0;
        text-align: center;
    }
    
    footer section#contatos ul li{
        display: block;
        text-align: center;
        padding: 20px;
    }

    footer section#contatos ul li#cxwhats-mobile{
        display: flex;
        justify-content: center;
        text-align: left;

        flex: auto;
        width: 100%;
        border-bottom: 3px solid #18ACC4;
    }
    footer section#contatos ul li#cxwhats-mobile img{
        margin-right: 15px;
    }

    footer li#cx-email {
        border-left: 3px solid #18ACC4;
        border-right: 3px solid #18ACC4;
    }

    footer section#contatos ul li img {
        margin-right: 0px;
    }

    footer .invisivel-mobile {
        display: none;
    }

    footer .invisivel-mobile {
        display:none
    }
    footer h2#numero + p::after{
        content: "Segunda a sexta de 8h às 22h";
    }
    footer h2:first-letter{
        text-transform: uppercase;
    }
}/*FIM MEDIA QUERY*/

footer section#mensagem{
    display: flex;
    height: 120px;
    background:  #18ACC4;
}

footer section#mensagem p{
    margin: auto;
    font-weight: 700;
    text-align: center;
}


/*---FOOTER FINISH---*/
